<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @note.Name %>
</p>

<p>
  <b>Studentid:</b>
  <%= @note.StudentId %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
