<%= form_for(@phrase) do |f| %>
  <% if @phrase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phrase.errors.count, "error") %> prohibited this phrase from being saved:</h2>

      <ul>
      <% @phrase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :CategoryId %><br />
    <%= f.number_field :CategoryId %>
  </div>
  <div class="field">
    <%= f.label :English %><br />
    <%= f.text_field :English %>
  </div>
  <div class="field">
    <%= f.label :Spanish %><br />
    <%= f.text_field :Spanish %>
  </div>
  <div class="field">
    <%= f.label :Chinese %><br />
    <%= f.text_field :Chinese %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
